<nav>
    <div class="logo"><img src=" assets/images/payment_methods/72x72/mollie.png" alt="logo"></div>
    <ul>
        <li><a href="#">profiel</a></li>
        <li><a href="#">bookes</a></li>
        <li><a href="#">cars</a></li>
        <li><a href="#">haues</a></li>
        <li><a href="pages/login.html">log,in</a></li>
        <li class="one"><a href="index.html">Home</a></li>
    </ul>
    <div class="search_box_ginral ">
        <input type="text" placeholder="search " name="search_box" class="search_box">
        <button name="search" class="search_button"> <img src=" assets/images/search.png" alt="search icon"></button>
    </div>
</nav>
